@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,900;1,700;1,900&display=swap');

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
  }

body::after {
    content: "";
    background-image: url("/onepiece/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -10;
    opacity: .7;
}

.container-main-context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 50%;
    background: wheat;
    padding: 10px;
    box-shadow: 10px 20px 20px 20px rgba(0, 0, 0, 0.2), 0 20px 20px 20px rgba(0, 0, 0, 0.19);
    
}
.options{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 700;
}

.crew-title{
    color: brown;
}

hr{
    width: 50%;
    background-color: brown;
    height: 1px;
}
.container-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 100px;
    background-position: center;
    width: 30%;
    height: 50px;
}

.top-button{
    right: 10%;
    bottom: 20px;
    position: fixed;
    margin-top: 20px;
    
}

.top-button a {
    text-decoration: none;
}

#searchForm{
    position: absolute;
    right: 10%;
    top: 10%;
}



table, th, td {
    border: 1px solid;
    text-align: center;
    width: auto;
  }

.highlight {
    background-color: rgb(233, 233, 7);
}